.info {
  display: flex;
  flex-direction: column;

  &-top {
    display: flex;
    flex-direction: column;

    &__content {
      display: flex;
      justify-content: space-between;
      width: 480px;

      &-header {
        font-family: inherit;
        margin: 6px 0;
        font-weight: 300;
      }
    }

    &__input {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      max-width: 45rem;
    }
  }

  &-bottom {
    text-align: left;

    &__content-header {
      font-family: inherit;
      margin: 6px 0;
      font-weight: 300;
    }
  }

  &-arrow {
    font-size: 40px;
  }

  &-dash {
    font-size: 40px;
  }
}
